.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.avatar {
    position: sticky;
    height: fit-content;
    top: var(--static-space-64);
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: 0b3027;
  border-radius: 4px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: green;
  transition: width 0.5s ease-in-out;
}

@media (--s) {
    .avatar {
        top: auto;
    }

    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}